<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Patient Info</key>
	<dict>
		<key>identifier</key>
		<string>**This is a mandatory field**</string>
		<key>name</key>
		<string>**This is a mandatory field**</string>
		<key>detailInfo</key>
		<string>**This is a mandatory field**</string>
		<key>monogram</key>
		<string>**This is a mandatory field** Restrict this field to 2 characters.</string>
		<key>image</key>
		<string>*This is an optional field* Provide the name of the image that has been added to Media Files -&gt; Media.xcassets</string>
	</dict>
	<key>Care Contents</key>
	<array>
		<dict>
			<key>type</key>
			<string>**This is a mandatory field** Acceptable values - [ intervention, assessment, readOnly ]</string>
			<key>identifier</key>
			<string>**This is a mandatory field** This should be a unique value</string>
			<key>groupIdentifier</key>
			<string>*This is an optional field*</string>
			<key>title</key>
			<string>**This is a mandatory field**</string>
			<key>text</key>
			<string>**This is a mandatory field**</string>
			<key>tintColor</key>
			<integer>0</integer>
			<key>instructions</key>
			<string>*This is an optional field*</string>
			<key>imageURL</key>
			<string>*This is an optional field* Provide the name of the file with the extension which has been added to Media Files -&gt; filesForImageURL</string>
			<key>schedule</key>
			<dict>
				<key>activityStartDate</key>
				<dict>
					<key>mm</key>
					<integer>0</integer>
					<key>dd</key>
					<integer>0</integer>
					<key>yyyy</key>
					<integer>0</integer>
				</dict>
				<key>activityEndDate</key>
				<dict>
					<key>mm</key>
					<integer>0</integer>
					<key>dd</key>
					<integer>0</integer>
					<key>yyyy</key>
					<integer>0</integer>
				</dict>
				<key>occurencesOnEachDay</key>
				<array>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
				</array>
				<key>weeksToSkip</key>
				<integer>0</integer>
			</dict>
			<key>thresholds</key>
			<array>
				<dict>
					<key>type</key>
					<string>**This is a mandatory field** Acceptable values - [ adherence, greaterThan, greaterThanOrEqual, lessThan, lessThanOrEqual, equal, rangeInclusive, rangeExclusive ]</string>
					<key>value</key>
					<integer>0</integer>
					<key>title</key>
					<string>**This is a mandatory field**</string>
					<key>upperValue</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>optional</key>
			<false/>
		</dict>
	</array>
	<key>Insights</key>
	<dict>
		<key>message</key>
		<array>
			<dict>
				<key>title</key>
				<string>**This is a mandatory field**</string>
				<key>text</key>
				<string>**This is a mandatory field**</string>
				<key>tintColor</key>
				<integer>0</integer>
				<key>type</key>
				<string>**This is a mandatory field** Acceptable values - [tip, alert, plain]</string>
			</dict>
		</array>
		<key>patientWidgets</key>
		<array>
			<dict>
				<key>title</key>
				<string>**This is a mandatory field**</string>
				<key>text</key>
				<string>**This is a mandatory field**</string>
				<key>tintColor</key>
				<real>0</real>
			</dict>
		</array>
		<key>rings</key>
		<array>
			<dict>
				<key>title</key>
				<string>*This is an optional field*</string>
				<key>text</key>
				<string>*This is an optional field*</string>
				<key>tintColor</key>
				<integer>0</integer>
				<key>value</key>
				<integer>0</integer>
				<key>glyphType</key>
				<string>*This is an optional field* Acceptable values - [heart, accessibility, activeLife, adultLearning, awareness, blood, bloodPressure, cardio, childLearning, dentalHealth, femaleHealth, hearing, homeCare, infantCare, laboratory, maleHealth, maternalHealth, medication, mentalHealth, neuro, nutrition, optometry, pediatrics, physicalTherapy, podiatry, respiratoryHealth, scale, stethoscope, syringe ]</string>
			</dict>
		</array>
		<key>charts</key>
		<dict>
			<key>numberOfCharts</key>
			<integer>0</integer>
			<key>numberOfSeries</key>
			<integer>0</integer>
			<key>numberOfSets</key>
			<integer>0</integer>
			<key>minimumScaleRange</key>
			<integer>0</integer>
			<key>maximumScaleRange</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>Contacts</key>
	<array>
		<dict>
			<key>type</key>
			<string>**This is a mandatory field** acceptable values - [ careTeam, personal ]</string>
			<key>name</key>
			<string>**This is a mandatory field**</string>
			<key>relation</key>
			<string>**This is a mandatory field**</string>
			<key>contactInfoItems</key>
			<dict>
				<key>phone</key>
				<string>*This is an optional field*</string>
				<key>sms</key>
				<string>*This is an optional field*</string>
				<key>email</key>
				<string>*This is an optional field*</string>
				<key>facetimeAudio</key>
				<string>*This is an optional field*</string>
				<key>facetimeVideo</key>
				<string>*This is an optional field*</string>
			</dict>
			<key>tintColor</key>
			<integer>0</integer>
			<key>monogram</key>
			<string>**This is a mandatory field**</string>
			<key>image</key>
			<string>*This is an optional field* Provide the name of the image that has been added to Media Files -&gt; Media.xcassets</string>
		</dict>
	</array>
	<key>UI Customization</key>
	<dict>
		<key>careContentUI</key>
		<dict>
			<key>title</key>
			<string>*This is an optional field*</string>
			<key>image</key>
			<string>*This is an optional field* Provide the name of the image that has been added to Media Files -&gt; Media.xcassets</string>
			<key>selectedImage</key>
			<string>*This is an optional field* Provide the name of the image that has been added to Media Files -&gt; Media.xcassets</string>
			<key>glyphType</key>
			<string>*This is an optional field* Acceptable values - [heart, accessibility, activeLife, adultLearning, awareness, blood, bloodPressure, cardio, childLearning, dentalHealth, femaleHealth, hearing, homeCare, infantCare, laboratory, maleHealth, maternalHealth, medication, mentalHealth, neuro, nutrition, optometry, pediatrics, physicalTherapy, podiatry, respiratoryHealth, scale, stethoscope, syringe ]</string>
			<key>glyphTintColor</key>
			<integer>0</integer>
			<key>readOnlyHeader</key>
			<string>*This is an optional field*</string>
			<key>optionalHeader</key>
			<string>*This is an optional field*</string>
		</dict>
		<key>insightsUI</key>
		<dict>
			<key>title</key>
			<string>*This is an optional field*</string>
			<key>image</key>
			<string>*This is an optional field* Provide the name of the image that has been added to Media Files -&gt; Media.xcassets</string>
			<key>selectedImage</key>
			<string>*This is an optional field* Provide the name of the image that has been added to Media Files -&gt; Media.xcassets</string>
		</dict>
		<key>connectUI</key>
		<dict>
			<key>title</key>
			<string>*This is an optional field*</string>
			<key>image</key>
			<string>*This is an optional field* Provide the name of the image that has been added to Media Files -&gt; Media.xcassets</string>
			<key>selectedImage</key>
			<string>*This is an optional field* Provide the name of the image that has been added to Media Files -&gt; Media.xcassets</string>
		</dict>
	</dict>
</dict>
</plist>
