<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Patient Info</key>
	<dict>
		<key>identifier</key>
		<string>john appleseed</string>
		<key>name</key>
		<string>John Appleseed</string>
		<key>detailInfo</key>
		<string>70 M</string>
		<key>monogram</key>
		<string>JA</string>
		<key>image</key>
		<string></string>
	</dict>
	<key>Care Contents</key>
	<array>
		<dict>
			<key>type</key>
			<string>intervention</string>
			<key>identifier</key>
			<string>acetaminophen</string>
			<key>groupIdentifier</key>
			<string>Pain Medication</string>
			<key>title</key>
			<string>Acetaminophen</string>
			<key>text</key>
			<string>325mg</string>
			<key>tintColor</key>
			<real>49151</real>
			<key>instructions</key>
			<string>take 1 tablet every 4-6 hours (not to exceed 4 tablets daily)</string>
			<key>imageURL</key>
			<string></string>
			<key>schedule</key>
			<dict>
				<key>activityStartDate</key>
				<dict>
					<key>mm</key>
					<integer>6</integer>
					<key>dd</key>
					<integer>4</integer>
					<key>yyyy</key>
					<integer>2017</integer>
				</dict>
				<key>activityEndDate</key>
				<dict>
					<key>mm</key>
					<integer>6</integer>
					<key>dd</key>
					<integer>12</integer>
					<key>yyyy</key>
					<real>2019</real>
				</dict>
				<key>occurencesOnEachDay</key>
				<array>
					<integer>4</integer>
					<integer>4</integer>
					<integer>4</integer>
					<integer>4</integer>
					<integer>4</integer>
					<integer>4</integer>
					<integer>4</integer>
				</array>
				<key>weeksToSkip</key>
				<integer>0</integer>
			</dict>
			<key>optional</key>
			<false/>
		</dict>
		<dict>
			<key>type</key>
			<string>assessment</string>
			<key>identifier</key>
			<string>pain</string>
			<key>groupIdentifier</key>
			<string>Care Plan Survey</string>
			<key>title</key>
			<string>Pain (lower back)</string>
			<key>text</key>
			<string>Scale 1-10 (10 being very high)</string>
			<key>tintColor</key>
			<real>8388736</real>
			<key>instructions</key>
			<string></string>
			<key>imageURL</key>
			<string></string>
			<key>schedule</key>
			<dict>
				<key>activityStartDate</key>
				<dict>
					<key>mm</key>
					<integer>6</integer>
					<key>dd</key>
					<integer>4</integer>
					<key>yyyy</key>
					<real>2017</real>
				</dict>
				<key>activityEndDate</key>
				<dict>
					<key>mm</key>
					<integer>6</integer>
					<key>dd</key>
					<integer>12</integer>
					<key>yyyy</key>
					<real>2019</real>
				</dict>
				<key>occurencesOnEachDay</key>
				<array>
					<integer>1</integer>
					<integer>0</integer>
					<integer>1</integer>
					<integer>0</integer>
					<integer>1</integer>
					<integer>0</integer>
					<integer>1</integer>
				</array>
				<key>weeksToSkip</key>
				<integer>0</integer>
			</dict>
			<key>thresholds</key>
			<array>
				<dict>
					<key>type</key>
					<string>greaterThan</string>
					<key>value</key>
					<integer>7</integer>
					<key>title</key>
					<string>High Pain. Please avoid any intense physical activities for the next few days.</string>
					<key>upperValue</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>optional</key>
			<false/>
		</dict>
		<dict>
			<key>type</key>
			<string>readOnly</string>
			<key>identifier</key>
			<string>bandage</string>
			<key>groupIdentifier</key>
			<string></string>
			<key>title</key>
			<string>Keep bandage dry</string>
			<key>text</key>
			<string>Do not change gauze</string>
			<key>tintColor</key>
			<integer>0</integer>
			<key>instructions</key>
			<string>If the bandage gets wet, it can cause irritation.</string>
			<key>imageURL</key>
			<string></string>
			<key>schedule</key>
			<dict>
				<key>activityStartDate</key>
				<dict>
					<key>mm</key>
					<integer>6</integer>
					<key>dd</key>
					<integer>4</integer>
					<key>yyyy</key>
					<integer>2017</integer>
				</dict>
				<key>activityEndDate</key>
				<dict>
					<key>mm</key>
					<integer>6</integer>
					<key>dd</key>
					<integer>12</integer>
					<key>yyyy</key>
					<real>2019</real>
				</dict>
				<key>occurencesOnEachDay</key>
				<array>
					<integer>1</integer>
					<integer>1</integer>
					<integer>1</integer>
					<integer>1</integer>
					<integer>1</integer>
					<integer>1</integer>
					<integer>1</integer>
				</array>
				<key>weeksToSkip</key>
				<integer>0</integer>
			</dict>
			<key>optional</key>
			<true/>
		</dict>
	</array>
	<key>Insights</key>
	<dict>
		<key>message</key>
		<array>
			<dict>
				<key>title</key>
				<string>Care Plan Update</string>
				<key>text</key>
				<string>Your care plan adherence was 83% last week.</string>
				<key>tintColor</key>
				<integer>0</integer>
				<key>type</key>
				<string>plain</string>
			</dict>
		</array>
		<key>patientWidgets</key>
		<array>
			<dict>
				<key>title</key>
				<string>Pain</string>
				<key>text</key>
				<string>8 of 10</string>
				<key>tintColor</key>
				<integer>16711680</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>Weight</string>
				<key>text</key>
				<string>175 lbs</string>
				<key>tintColor</key>
				<integer>255</integer>
			</dict>
		</array>
		<key>rings</key>
		<array/>
		<key>charts</key>
		<dict>
			<key>numberOfCharts</key>
			<integer>1</integer>
			<key>numberOfSeries</key>
			<integer>2</integer>
			<key>numberOfSets</key>
			<integer>7</integer>
			<key>minimumScaleRange</key>
			<integer>0</integer>
			<key>maximumScaleRange</key>
			<integer>100</integer>
		</dict>
	</dict>
	<key>Contacts</key>
	<array>
		<dict>
			<key>type</key>
			<string>careTeam</string>
			<key>name</key>
			<string>Dr. Maria Ruiz</string>
			<key>relation</key>
			<string>Physician</string>
			<key>contactInfoItems</key>
			<dict>
				<key>phone</key>
				<string>800-555-5555</string>
				<key>sms</key>
				<string>888-555-5512</string>
				<key>email</key>
				<string>mruiz@icloud.com</string>
				<key>facetimeAudio</key>
				<string>888-555-5512</string>
				<key>facetimeVideo</key>
				<string>888-555-5512</string>
			</dict>
			<key>tintColor</key>
			<integer>0</integer>
			<key>monogram</key>
			<string>MR</string>
			<key>image</key>
			<string></string>
		</dict>
		<dict>
			<key>type</key>
			<string>careTeam</string>
			<key>name</key>
			<string>Bill James, RN</string>
			<key>relation</key>
			<string>Nurse</string>
			<key>contactInfoItems</key>
			<dict>
				<key>phone</key>
				<string>800-555-5555</string>
			</dict>
			<key>tintColor</key>
			<integer>0</integer>
			<key>monogram</key>
			<string>BJ</string>
			<key>image</key>
			<string></string>
		</dict>
		<dict>
			<key>type</key>
			<string>personal</string>
			<key>name</key>
			<string>Tom Clark</string>
			<key>relation</key>
			<string>Friend</string>
			<key>contactInfoItems</key>
			<dict>
				<key>phone</key>
				<string>888-555-5512</string>
				<key>sms</key>
				<string>888-555-5512</string>
				<key>email</key>
				<string>tom.clark@icloud.com</string>
				<key>facetimeAudio</key>
				<string>888-555-5512</string>
				<key>facetimeVideo</key>
				<string>tom.clark@icloud.com</string>
			</dict>
			<key>tintColor</key>
			<integer>0</integer>
			<key>monogram</key>
			<string>TC</string>
			<key>image</key>
			<string></string>
		</dict>
	</array>
	<key>UI Customization</key>
	<dict>
		<key>careContentUI</key>
		<dict>
			<key>title</key>
			<string>Care Contents</string>
			<key>image</key>
			<string>carecard</string>
			<key>selectedImage</key>
			<string>carecard-filled</string>
			<key>glyphType</key>
			<string>homeCare</string>
			<key>glyphTintColor</key>
			<integer>16716947</integer>
			<key>readOnlyHeader</key>
			<string>Recommendations</string>
			<key>optionalHeader</key>
			<string>Take as needed</string>
		</dict>
		<key>insightsUI</key>
		<dict>
			<key>title</key>
			<string>Insights</string>
			<key>image</key>
			<string>insights</string>
			<key>selectedImage</key>
			<string>insights-filled</string>
		</dict>
		<key>connectUI</key>
		<dict>
			<key>title</key>
			<string>Connect</string>
			<key>image</key>
			<string>connect</string>
			<key>selectedImage</key>
			<string>connect-filled</string>
		</dict>
	</dict>
</dict>
</plist>
