name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:        
  test:
    runs-on: macos-14
    strategy:
      matrix:
        destination: ['platform=iOS\ Simulator,OS=17.4,name=iPhone\ 15\ Pro\ Max', 'platform=watchOS\ Simulator,OS=10.4,name=Apple\ Watch\ Series\ 7\ \(45mm\)']
        scheme: ['CareKit', 'CareKitStore', 'CareKitUI', 'CareKitFHIR']
    name: ${{ matrix.scheme }} Unit Tests
    steps:
      - uses: actions/checkout@v4
      - name: Set Xcode Version
        run: sudo xcode-select -s /Applications/Xcode_15.2.app
      - name: Build
        run: set -o pipefail && env NSUnbufferedIO=YES xcodebuild -verbose -workspace CKWorkspace.xcworkspace -scheme ${{ matrix.scheme }} -destination ${{ matrix.destination }} build test | xcpretty
